<?xml version="1.0"?>
<configuration>
<startup>
  <supportedRuntime version="v2.0.50727"/>
</startup>
  <system.serviceModel>
        <bindings>
              <basicHttpBinding>
                    <binding name="wsSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
                          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                          useDefaultWebProxy="true">
                          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                                maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                          <security mode="Transport">
                                <transport clientCredentialType="None" proxyCredentialType="None"
                                      realm="" />
                                <message clientCredentialType="UserName" algorithmSuite="Default" />
                          </security>
                    </binding>
                    <binding name="wsSoap1" closeTimeout="00:01:00" openTimeout="00:01:00"
                          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                          useDefaultWebProxy="true">
                          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                                maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                          <security mode="None">
                                <transport clientCredentialType="None" proxyCredentialType="None"
                                      realm="" />
                                <message clientCredentialType="UserName" algorithmSuite="Default" />
                          </security>
                    </binding>
              </basicHttpBinding>
        </bindings>
        <client>
              <endpoint address="https://w1.mercurydev.net/ws/ws.asmx" binding="basicHttpBinding"
                    bindingConfiguration="wsSoap" contract="WebServices.wsSoap"
                    name="wsSoap" />
        </client>
    </system.serviceModel>

  <appSettings>
    <add key="PortName" value="COM1" />
    <add key="BaudRate" value="9600" />
    <add key="Parity" value="None" />      <!--Parity: None,Odd,Even,Mark,Space-->
    <add key="DataBits" value="8" />
    <add key="StopBits" value="One" />
    <add key="HandShake" value="None" />    <!--HandShake: None,XOnXOff,RequestToSend,RequestToSendXOnXOff-->
    <add key="Pricing" value="1.00"/>
    <add key="TerminalID" value="395347308=E2ETKN"/>
    <add key="Password" value="123E2ETKN"/>
    <add key="BoardFailureThreshold" value="2"/>     <!--How many times should we void sale before determining there is a problemto try sending a swipe before shutting down the application and alerting end user-->
    <add key="BoardFailureCount" value="0"/> <!--Current Failure Count, in case application restarts-->
    
  </appSettings>

  
<!-- Works with CERT-->
<!-- Certification E2E with Token web services-->
<!--<add key="TerminalID" value="395347308=E2ETKN"/>
  <add key="Password" value="123E2ETKN"/>-->


  <!--xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
  
  
</configuration>
